@model PaginatedList<string>


<table>
    <td>
        @foreach (var outputData in Model)
        {
            if (outputData.Equals("Buzz"))
            {
                <li style="color : blue">@GetChar(outputData)</li>
            }
            else if (outputData.Equals("Fizz"))
            {
                <li style="color : green">@GetChar(outputData)</li>
            }
            else
            {
                <li>@outputData</li>
            }
        }
    </td>

</table>

@{
    string GetChar(string input)
    {
        System.Text.StringBuilder strBuilder = new System.Text.StringBuilder(input);
        strBuilder[0] = DateTime.Now.DayOfWeek.ToString()[0];
        return strBuilder.ToString();
    }

}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Display"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Display"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<br>
@using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Get))
{
    <input type="submit" value="New Input" />
}